@page "/account/login"
@inject NavigationManager navigationManager
@inject CustomAuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Resource> S
@inherits LoginPageBase

@* <div class="mdc-layout-grid__cell--span-4">
    <MBCard class="mb-basic-with-text-over-media" AutoStyled="true" @onclick="@(() => {})">
    <PrimaryAction>
    <div class="mdc-card__media mdc-card__media--16-9 mb-card__media" style="background-image:
    url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);">
    <div class="mdc-card__media-content mb-card__media-content">
    <div class="mb-card__primary">
    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
    </div>
    </div>
    </div>
    </PrimaryAction>
    </MBCard>
    </div> *@

<div class="w-full h-full grid place-items-center">
    <div class="inline-flex flex-wrap place-items-center place-content-center gap-8">

        <MBCard AutoStyled="true" style="width: 30rem;" class="
            px-10
            pb-10
            ">
            <Primary>
                <EditForm Model="@loginInput" OnValidSubmit="@OnSubmit" class="
                    flex flex-col items-center
                    mt-5
                    ">
                    <svg class="bi text-primary" width="32" height="32" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#box-arrow-in-right"/>
                    </svg>
                    <div class="mt-5">
                        <h4>@S[name: "Login"]</h4>
                    </div>

                    <DataAnnotationsValidator/>
                    <CustomValidator @ref="customValidator"/>

                    <div class="mt-5 w-64">
                        <ValidationSummary/>
                    </div>

                    <div class="mt-2 w-96">
                        <MBTextField @bind-Value="@loginInput.Email" Label=@S[name: "Email"]
                                      TextInputStyle="@MBTextInputStyle.Outlined" class="w-full mt-5"/>
                        <ValidationMessage For="@(() => loginInput.Email)"/>


                        <MBTextField @bind-Value="@loginInput.Password" Label=@S[name: "Password"]
                                      TextInputStyle="@MBTextInputStyle.Outlined" type="password" class="w-full mt-5"/>
                        <ValidationMessage For="@(() => loginInput.Password)" class="text-error"/>
                    </div>

                    <div class="mt-5">
                        <MBButton Label="@S[name: "Login"]" ButtonStyle="@MBButtonStyle.ContainedRaised"/>
                    </div>
                    <MBDivider/>

                    <h6 class="mt-5">@S[name: "Don't have an account?"]</h6>
                    <NavLink class="mdc-button mdc-button--outlined mt-5" href="account/register">
                        <div class="mdc-button__ripple"></div>
                        @* <i class="material-icons mdc-button__icon" aria-hidden="true">bookmark</i> *@
                        <svg class="bi material-icons mdc-button__icon" width="32" height="32" fill="currentColor">
                            <use xlink:href="bootstrap-icons.svg#person-plus"/>
                        </svg>
                        <span class="mdc-button__label">
                            @S[name: "Register"]
                        </span>
                    </NavLink>
                </EditForm>

            </Primary>
        </MBCard>
    </div>
</div>