@page "/__Entities_BoundedContext_NamePluralKebabCase__/__Entities_NamePluralKebabCase__/create"
@inherits BlazorApp.Client.Pages.EntitiesPages.__Entities_BoundedContext_Name__Pages.__Entities_Groups_00_Name__Pages.__Entities_Name__CreatePageBase_Gen_

@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Resource> S

@* 
<div class="w-full h-full grid place-items-center">
    <div class="inline-flex flex-wrap place-items-center place-content-center gap-8">
        <MBCard AutoStyled="true" style="width: 30rem;" class="
        px-10
        pb-10
        ">
            <Primary>

                <EditForm EditContext="@editContext" OnValidSubmit="@OnSubmit" class="
                    flex flex-col items-center
                    mt-5
                    ">
                    <DataAnnotationsValidator />
                    <CustomValidator @ref="customValidator" />

                    <div class="mt-5">
                        <svg class="bi text-primary" width="32" height="32" fill="currentColor">
                            <use xlink:href="bootstrap-icons.svg#person-plus" />
                        </svg>
                    </div>
                    <div class="text-center mt-6">
                        <h4>@S["Registration"]</h4>
                    </div>

                    <div class="mt-5 w-64">
                        <ValidationSummary />
                    </div>


                    <div class="mt-2 w-96">
                        <MBTextField Label=@S["Email"] TextInputStyle="@MBTextInputStyle.Outlined"
                            @bind-Value="@registerInput.Email" class="w-full mt-5" />
                        <ValidationMessage For="@(() => registerInput.Email)" class="text-error" />
                        <MBTextField Type="password" Label=@S["Password"] TextInputStyle="@MBTextInputStyle.Outlined"
                            @bind-Value="@registerInput.Password" class="w-full mt-5" />
                        <ValidationMessage For="@(() => registerInput.Password)" class="text-error" />
                        <MBTextField Type="password" Label=@S["Password Confirmation"]
                            TextInputStyle="@MBTextInputStyle.Outlined" @bind-Value="@registerInput.ConfirmPassword"
                            class="w-full mt-5" />
                        <ValidationMessage For="@(() => registerInput.ConfirmPassword)" class="text-error" />
                    </div>


                    <div class="mt-5">
                        <MBButton Label="@(S["Register"])" ButtonStyle="@MBButtonStyle.ContainedRaised" />
                    </div>

                    <MBDivider />

                    <h6 class="mt-5">@S["Already have an account?"]</h6>
                    <NavLink class="mdc-button mdc-button--outlined mt-5" href="account/login">
                        <div class="mdc-button__ripple"></div>
                        <svg class="bi material-icons mdc-button__icon" width="32" height="32" fill="currentColor">
                            <use xlink:href="bootstrap-icons.svg#person-plus" />
                        </svg>
                        <span class="mdc-button__label" >
                            @S["Sign In"]
                        </span>
                    </NavLink>

                </EditForm>
            </Primary>
        </MBCard>
    </div>
</div> *@